name: Triggered by Jira

on:
  workflow_dispatch:
    inputs:
      jira_issue_key:
        description: "Key of sub-defect created in Jira"
        required: true
      jira_summary:
        description: "Summary of the issue"
        required: false

jobs:
  print-info:
    runs-on: ubuntu-latest
    steps:
      - name: Print inputs
        run: |
          echo "Jira Issue: ${{ github.event.inputs.jira_issue_key }}"
          echo "Summary: ${{ github.event.inputs.jira_summary }}"
